.body{
    background-color: whitesmoke;
}

.img1{
    width: 40%;
    transform: translateY(20%);
    border-radius: 5%;
}

.paragrafi{
    transform: translateY(100%);
}


.img2{
    transform: translateY(20%);
    
    
}