i{
    font-size: 16px;
    color: rgb(1, 23, 5);
}

h3 {
    border: 2px solid rgba(34, 94, 108, 0.678);
}

h1 {
    background-color: rgba(0, 0, 0, 0.238);
}

body {
    background-color: rgb(130, 27, 27);
}

