body {
    width: 100%;
    height: 100vh;
    font-size: 14px;
    font-weight: 500, 700;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;

    background-color: hsl(30, 38%, 92%);

    overflow-y: scroll;
    overflow-x: hidden;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
}

.box_container{
    width: 570px;
    height: 440px;
    background-color: hsl(0, 0%, 100%);

    margin: auto;
    transform: translateY(30%);
    border-radius: 10px;    
}

.div_imgs-child{
    width: 50%;
    height: 440px;

    border-radius: 10px 0 0 10px;
}

.Form-box{
    display: flex;
    justify-content: end;
    align-items: end;
    transform: translateY(-300px);
}

.Form_box-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Form_box-child span { 
    transform: translateY(-115px) translateX(-105px);

    color: hsl(228, 12%, 48%);
}

.Form_box-child h1 { 
    transform: translateY(-95px) translateX(-65px);

    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
}

.Long_text{
    display: flex;
    justify-content: center;
    align-items: center;

    color: hsl(228, 12%, 48%);

    gap: 20px;
    transform: translateY(-70px) translateX(-40px);
}

.New_price{
    transform: translateX(-83px) translateY(-40px); 

    font-family: "Fraunces", serif;
    font-optical-sizing: auto;

    font-weight: 700;
    font-size:xx-large;

    color:  hsl(158, 36%, 37%);
}

.Old_price{
    transform: translateX(25px) translateY(-68px);

    text-decoration: line-through;

    color: hsl(228, 12%, 48%);
}

.Form_box-child button{
    transform: translateX(-33px) translateY(-25px);
    width: 220px;
    height: 45px;

    border-radius: 7px;
    border-style: none;

    background-color: hsl(158, 36%, 37%);
    color: rgb(228, 225, 225);

    padding: 5 20px;

    transition: all .6s;
}

.Form_box-child button:hover{
    background-color: transparent;
    color: black;

    border-style:groove;
}

.Form_box-child button svg{
    transform: translateX(-10px) translateY(3px);
}

.attribution{
    transform: translateX(620px) translateY(150px);
}

@media (max-width: 376px){
    .box_container{
        width: 90%;
        height: 100%;

        margin: auto;
    }
    .div_imgs-child{
        width: 100%;
        height: 350px;

        border-radius: 10px 10px 0 0;
        transform: translateY(-150px);
    }

    .Form-box{
        transform: translateY(-10px);
    }    

    .attribution{
        transform: translateX(55px) translateY(170px);
    }
}